@charset "UTF-8";
/* CSS Document */

body {
	min-width: 280px;
	background-image: url(../images/bg.png);
	background-size: contain;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.main-wrapper {
	position: relative;
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
	padding: 30px 30px;
	background-color: rgba(255, 255, 255, 0.33);
	border-left: #dadada 1px solid;
	border-right: #dadadab6 1px solid;
	min-height: 80%;
	min-height: calc(100% - 200px);
}

.main-video {
	position: relative;
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.33);
	border-left: #dadada 1px solid;
	border-right: #dadadab6 1px solid;
	min-height: 80%;
	min-height: calc(100% - 200px);
}

.v2 {
	overflow: hidden;
}

.main-video .column {
	display: flex;
}

.main-video .v2 {
	flex-wrap: wrap;
	width: 50%;
	margin: 4px;
}

.v2 img:hover {
	transform: scale(1.04);
	transition-duration: 0.6s;
}

.main-video p {
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 6px;
	background-color: black;
	color: #fff;
	margin-top: -7px;
}

html, body {
	height: 100%;
}

header {
	max-width: 960px;
	margin: 0 auto;
	background-image: url(../images/header.png);
	background-size: cover;
	border-top: #f2f7dc 3px solid;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.header-contents {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
	min-height: 100px;
	background-image: url(../images/header-logo.png);
	background-repeat: no-repeat;
	background-position: 5px 30%;
}

.header-contents h1, .header-contents h2 {
	margin: 0;
	color: #fff;
	line-height: 1;
}

.header-contents h1 {
	padding: 20px 0 10px 100px;
	font-size: 28px;
	text-shadow: #000 2px 0, #000 -2px 0, #000 0 -2px, #000 0 2px, #000 2px 2px, #000 -2px 2px, #000 2px -2px, #000 -2px -2px, #000 1px 2px, #000 -1px 2px, #000 1px -2px, #000 -1px -2px, #000 2px 1px, #000 -2px 1px, #000 2px -1px, #000 -2px -1px, 4px 4px 0 #000, 0 4px 0 #000;
}

.header-contents h2 {
	padding: 0 0 0 100px;
	font-size: 22px;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgb(255, 0, 0);
}

nav ul {
	display: flex;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	font-size: 18px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.555);
}

nav ul li {
	position: relative;
	flex: 1 1;
	display: table-cell;
}

nav ul li a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover {
	color: #3498db;
}

nav ul li a.current {
	color: rgb(193, 255, 189);
}

#bread {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#bread ol li {
	display: inline-block;
	list-style: none;
	font-weight: bold;
}

#bread ol li::after {
	content: ">";
	padding: 0 0.2em;
	color: #72a1f7;
}

#bread ol li:last-child::after {
	content: none;
}

#bread li a {
	display: inline-block;
	padding: 0.2em .8em;
	border-radius: 15px;
	text-decoration: none;
	color: #03721b;
	background: #c6e2ff;
	font-size: 0.9em;
}

#bread li a:hover {
	background: #c9dbfb;
}

section h1 {
	position: relative;
	padding-top: 50px;
	padding-bottom: 0;
	font-size: 40px;
	text-align: center;
	margin-top: 0;
}

section h1::before {
	content: attr(data-en);
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(66, 27, 209, 0.363);
	font-size: 60px;
	font-style: italic;
}

section h2 {
	position: relative;
	text-align: center;
	margin: 15px;
	padding: 0.5rem 0.5rem calc(0.5rem + 3px);
	background: #fff100;
	margin-bottom: 3px;
}

section h2:before {
	position: absolute;
	top: -8px;
	left: -8px;
	width: 99%;
	height: 90%;
	content: '';
	border: 5px solid #000;
}

h3 {
	position: relative;
	display: inline-block;
	height: 25px;
	margin-left: 30px;
	margin-bottom: 0;
	padding: 1rem 0.5rem 1rem 1rem;
	color: #fff;
	background: #33899e;
	text-align: center;
	font-size: 15px;
}

h3:before {
	position: absolute;
	top: 0;
	left: -30px;
	content: '';
	border-width: 25px 30px 32px 0;
	border-style: solid;
	border-color: transparent #33899e transparent transparent;
}

h3:after {
	position: absolute;
	top: calc(50% - 7px);
	left: -10px;
	width: 14px;
	height: 14px;
	content: '';
	border-radius: 50%;
	background: #fff;
}

h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-align: center;
}

h4::before, h4::after {
	content: '';
	width: 2px;
	height: 30px;
	background-color: #3fc1c9;
}

h4::before {
	margin-right: 30px;
	transform: rotate(-35deg)
}

h4::after {
	margin-left: 30px;
	transform: rotate(35deg)
}

ul {
	padding: 0;
	position: relative;
}

.timer {
	font-size: 22px;
	color: crimson;
}

.red {
	font-size: 18px;
	color: red;
	font-weight: bold;
}

footer {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto 10px auto;
	padding: 15px 30px;
	background-color: #f0f7d9;
	border: #dadada 1px solid;
	border-radius: 0 0 10px 10px;
	color: rgb(0, 0, 0);
	font-size: 14px;
	text-align: right;
}

a {
	color: #5e78c1;
	text-decoration: none;
}

a:hover {
	color: #b04188;
	text-decoration: underline;
}

.realday {
	font-size: 34px;
	color: rgb(0, 21, 85);
	font-weight: bold;
}

.realtime {
	font-size: 22px;
	color: rgb(0, 141, 75);
	font-weight: bold;
}

.video {
	width: 100%;
}

.topimg {
	width: 100%;
	text-align: center;
}

.frame {
	width: 95%;
	text-align: center;
	max-width: 598px;
	margin: 0 auto;
	padding: 0;
	border: dotted 1px #333333;
	background-color: rgba(252, 240, 232, 0.9);
}

.frame2 {
	padding: 0;
	margin: 10px;
	border: 1px dashed #333333;
	background-color: #f5f5e3;
}

#dojolist ul {
	width: 85%;
	margin: 15px auto;
}

#dojolist ul li {
	position: relative;
	list-style-type: none!important;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-bottom: 5px;
	line-height: 2;
	background: #f0b7fc;
	vertical-align: middle;
	font-weight: bold;
	color: #505050;
	border-radius: 15px 0px 0px 15px;
}

#dojolist ul li:before {
	display: inline-block;
	vertical-align: middle;
	/*以下白丸つくる*/
	content: '';
	width: 1em;
	height: 1em;
	background: #fff;
	border-radius: 50%;
	margin-right: 8px;
}

/*もっと見るボタン*/

a.more {
	position: relative;
	display: block;
	width: 200px;
	height: 130px;
	margin: 0 auto;
}

a.more:hover .more-top {
	top: 10px;
	height: 50px;
}

a.more:active .more-top {
	top: 20px;
	height: 40px;
}

.more-top {
	position: absolute;
	top: 0;
	left: 20px;
	width: 160px;
	height: 60px;
	margin-top: 30px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 0 0 50% 50%;
	background-image: -webkit-gradient( linear, right top, left top, from(#630909), to(#d62d2d));
	background-image: -webkit-linear-gradient(right, #630909 0%, #d62d2d 100%);
	background-image: linear-gradient(to left, #630909 0%, #d62d2d 100%);
	-webkit-box-shadow: inset 0 -1px 10px 0 rgba(0, 0, 0, 0.9), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -1px 10px 0 rgba(0, 0, 0, 0.9), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.more-top::before {
	position: absolute;
	top: -30px;
	left: 0;
	width: 160px;
	height: 60px;
	content: "";
	border-radius: 80px / 30px;
	background-image: -webkit-gradient( linear, left bottom, left top, from(#6c0c0b), to(#ed4c4c));
	background-image: -webkit-linear-gradient(bottom, #6c0c0b 0%, #ed4c4c 100%);
	background-image: linear-gradient(to top, #6c0c0b 0%, #ed4c4c 100%);
	-webkit-box-shadow: 0 10px 28px 2px rgba(0, 0, 0, 0.2), inset 0 5px 10px 0 rgba(0, 0, 0, 0.2), inset 0 2px 1px 0 rgba(255, 255, 255, 0.6), inset 0 -2px 1px 0 rgba(255, 255, 255, 0.1), inset 0 -2px 10px 5px rgba(237, 76, 76, 0.6), inset 5px 0 1px 1px rgba(255, 255, 255, 0.3);
	box-shadow: 0 10px 28px 2px rgba(0, 0, 0, 0.2), inset 0 5px 10px 0 rgba(0, 0, 0, 0.2), inset 0 2px 1px 0 rgba(255, 255, 255, 0.6), inset 0 -2px 1px 0 rgba(255, 255, 255, 0.1), inset 0 -2px 10px 5px rgba(237, 76, 76, 0.6), inset 5px 0 1px 1px rgba(255, 255, 255, 0.3);
}

.more-top span {
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: -16px;
	left: 0;
	width: 100%;
	-webkit-transform: scaleY(0.75);
	transform: scaleY(0.75);
	text-align: center;
	color: #dfdd6f;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(255, 255, 255, 0.3);
}

.more-bottom {
	position: absolute;
	top: 38px;
	left: 0;
	width: 200px;
	height: 80px;
	border-radius: 100px / 40px;
	background-image: -webkit-gradient( linear, left top, right top, from(#f2f2f2), color-stop(48%, #b4b4b4), to(#767676));
	background-image: -webkit-linear-gradient( left, #f2f2f2 0%, #b4b4b4 48%, #767676 100%);
	background-image: linear-gradient( to right, #f2f2f2 0%, #b4b4b4 48%, #767676 100%);
	-webkit-box-shadow: 0 8px 0 #c4cacc, inset 1px -1px 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 8px 0 #c4cacc, inset 1px -1px 10px 0 rgba(0, 0, 0, 0.2);
}

.page {
	padding: 2px;
	display: flex;
	justify-content: center;
	background: rgba(31, 26, 43, 0.5);
}

.page li {
	display: inline;
	border-radius: 100%;
}

.active {
	background: gold;
	width: 40px;
	height: 40px;
	margin: 2px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}

.another {
	background: #fff;
	width: 40px;
	height: 40px;
	margin: 2px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}

.move {
	background: #fff;
	width: 25px;
	height: 40px;
	margin: 2px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}

.page li a:hover {
	background: gold;
	border-radius: 100%;
}

.tv {
	max-width: 960px;
	margin: 0 auto;
}

section.link {
	min-width: 280px;
	margin: 0 -31px;
	padding: 0.1em;
	background-color: black;
}

section.link h2 {
	margin: 20px 41px;
}

section.link h2:before {
	border: 4px solid #fff;
}

.gim img {
	display: block;
	width: 28px;
	float: right;
	margin: auto;
}

ul.gim {
	counter-reset: li;
	padding: 0.6em 0.5em 0.6em 2em;
	font-family: "fantasy", "Chick";
	width: 75%;
	margin: 30px auto;
	list-style: none;
	background-color: rgba(182, 223, 226, 0.3);
}

.gim li {
	position: relative;
	padding: 10px 4px 10px 60px;
	margin: auto;
	border-bottom: 4px dashed rgb(128, 117, 126);
	font-size: 18px;
	font-weight: bold;
}

.gim li a {
	color: #fdfdd5;
	text-decoration: none;
}

.gim li a:hover {
	color: crimson;
	text-decoration: underline 1px;
}

.gim li:before {
	counter-increment: li;
	content: counter(li);
	position: absolute;
	z-index: 1;
	left: -5px;
	top: 5px;
	background: #afe7bc;
	height: 1.5em;
	width: 1.5em;
	border: .1em solid rgba(0, 0, 0, .05);
	text-align: center;
	font: italic bold 1em/1.3em Georgia, Serif;
	color: blue;
	border-radius: 1.5em;
	transition: all .2s ease-out;
}

.gim li:hover:before {
	background-color: #ffd797;
	border-color: coral;
	border-width: .2em;
	color: #444;
	transform: scale(1.2);
}

.news {
	margin: 30px;
}

.news table {
	margin: auto;
	margin-bottom: 60px;
	font-weight: bold;
	font-size: 12px;
	background-color: aliceblue;
}

.blank {
	height: 350px;
}

.blank2 {
	height: 240px;
}

.face {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col4 img {
	width: 75px;
	margin-bottom: 60px;
}

.col4 p {
	position: absolute;
	font-size: 10px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	width: 75px;
	padding: 0;
	margin-top: -68px;
}

@media (max-width: 600px) {
	header {
		background-position: 32% 50%;
		border-top: #f2f7dc 5px solid;
	}
	.header-contents {
		min-height: 75px;
		background-size: 40px 40px;
		background-position: 10px 50%;
	}
	.header-contents h1 {
		padding: 15px 0 5px 60px;
		font-size: 24px;
	}
	.header-contents h2 {
		padding: 0 0 0 60px;
		font-size: 18px;
	}
	.main-wrapper {
		font-size: 16px;
		line-height: 1.5em;
	}
	.gim li {
		font-size: 15px;
		padding: 10px 4px 10px 30px;
	}
	h3 {
		position: relative;
		display: inline-block;
		height: 25px;
		margin-left: 30px;
		margin-bottom: 0;
		padding: 1rem 0.5rem 1rem 1rem;
		color: #fff;
		background: #33899e;
		text-align: center;
		font-size: 11px;
	}
	.main-video p {
		font-size: 13px;
	}
}

/*600px以上は2カラム指定*/

@media (min-width: 600px) {
	.column {
		display: flex;
	}
	.v2 {
		flex-wrap: wrap;
		width: 50%;
		margin: 15px;
	}
}

/*タブレット以上指定*/

@media (min-width: 769px) {
	.newsimgpc {
		background-image: url(../images/2020tokyopc.jpg);
		background-size: 960px;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		margin: -31px;
	}
}

/*タブレットx以下指定*/

@media (max-width: 768px) {
	.newsimg {
		background-image: url(../images/narahara.jpg);
		background-size: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		margin: -31px;
	}
	.newsimg2 {
		background-image: url(../images/nogunona.jpg);
		background-size: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		margin: -31px;
	}
}